<div
    [class.dark-theme]="settingsService.isDark()"
    [class.card-borderd-theme]="settingsService.isCardBorder()"
    [class.card-border-radius]="settingsService.isCardBorderRadius()"
    [class.rtl-enabled]="settingsService.isRTLEnabled()"
>
    <app-sidebar></app-sidebar>
    <div
        class="main-content d-flex flex-column"
        [ngClass]="{ active: isToggled }"
        [class.right-sidebar]="settingsService.isRightSidebar()"
        [class.hide-sidebar]="settingsService.isHideSidebar()"
    >
        <app-header></app-header>
        <div class="flex-grow-1">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-settings></app-settings>
</div>
