<div class="sidebar-area bg-white box-shadow" [ngClass]="{ active: isToggled }" [class.dark-sidebar]="settingsService.isSidebarDark()" [class.right-sidebar]="settingsService.isRightSidebar()"
    [class.hide-sidebar]="settingsService.isHideSidebar()">
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="assets/img/logo-icon.png" alt="logo" />
            <span>Tagus</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{ active: isToggled }">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    @for (item of menuItems; track $index) { @if (item.heading) {
                    <!-- Heading -->
                    <span class="sub-title gray-color">{{ item.text }}</span>
                    } @else { @if(!item.submenu) { @if (item.elink) {
                    <!-- External link -->
                    <a class="sidebar-menu-link" [attr.target]="item.target" [attr.href]="item.elink">
                        <i *ngIf="item.icon" class="{{ item.icon }}"></i>
                        <span class="title">{{ item.text }}</span>
                    </a>
                    } @else {
                    <!-- Single menu item -->
                    <a class="sidebar-menu-link" [attr.route]="item.link" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i *ngIf="item.icon" class="{{ item.icon }}"></i>
                        <span class="title">{{ item.text }}</span>
                    </a>
                    } } @else {
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i *ngIf="item.icon" class="{{ item.icon }}"></i>
                                <span class="title">{{ item.text }}</span>
                                <span *ngIf="item.alert" class="badge">{{ item.alert }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        @if(item.submenu.length) {
                        <ul class="sidebar-sub-menu">
                            @for(subitem of item.submenu; track $index) {
                            <li class="sidemenu-item">
                                <!-- External Links -->
                                <a href *ngIf="!subitem.heading && !subitem.submenu && subitem.elink" [attr.target]="subitem.target" [attr.href]="subitem.elink" class="sidemenu-link">
                                    <i *ngIf="subitem.icon" class="{{ subitem.icon }}"></i>
                                    <span class="title">{{ subitem.text }}</span>
                                </a>

                                <!-- Single menu item -->
                                <a *ngIf="!subitem.heading && !subitem.submenu && !subitem.elink" [attr.route]="subitem.link" [routerLink]="subitem.link" class="sidemenu-link"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <i *ngIf="subitem.icon" class="{{ subitem.icon }}"></i>
                                    <span class="title">{{ subitem.text }}</span>
                                </a>

                                <!-- Submemu -->
                                @if (!subitem.heading && subitem.submenu) {
                                <ng-container *ngTemplateOutlet="SubmenuRecursive; context: {$implicit: subitem}"></ng-container>
                                }
                            </li>
                            }
                        </ul>
                        }
                    </mat-expansion-panel>
                    } } }
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>

<!-- Recursive Submenu -->
<ng-template #SubmenuRecursive let-submenu>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ submenu.text }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <ul class="sidebar-sub-menu">
                <li *ngFor="let subitem of submenu.submenu" class="sidemenu-item">
                    <!-- External Links -->
                    <a href *ngIf="!subitem.heading && !subitem.submenu && subitem.elink" [attr.target]="subitem.target" [attr.href]="subitem.elink" class="sidemenu-link">
                        <i *ngIf="subitem.icon" class="{{ subitem.icon }}"></i>
                        <span class="title">{{ subitem.text }}</span>
                    </a>

                    <!-- Single menu item -->
                    <a *ngIf="!subitem.heading && !subitem.submenu && !subitem.elink" [attr.route]="subitem.link" [routerLink]="subitem.link" class="sidemenu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <i *ngIf="subitem.icon" class="{{ subitem.icon }}"></i>
                        <span class="title">{{ subitem.text }}</span>
                    </a>

                    <!-- Submenu -->
                    <mat-accordion *ngIf="subitem.submenu">
                        <ng-container *ngTemplateOutlet="SubmenuRecursive; context: { $implicit: subitem }"></ng-container>
                    </mat-accordion>
                </li>
            </ul>
        </mat-accordion>
    </mat-expansion-panel>
</ng-template>
